@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);
.main-content {
  background-image: url("../../../assets/image\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-attachment: scroll;
  background-position: 50% 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  &__icon-container{
    //   border: 1px solid white;
      float: right;
      margin-right: 64px;
      margin-top: 19px;
      
  }
  &__icon{
      padding-right: 29px;
  }
  &__home{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Game of Thrones";
    font-size: 176px;
    font-weight: 100;
    width: 2012px;
  }
  &__link-container{
      position: absolute;
      bottom: 5%;
      width: 100%;
      display: flex;
      justify-content:  space-around;
      
  }
  &__links {
    font-size: 36px;
    color: white;
    font-family:"Game of Thrones" ;  
  }
  
}