<main class="main-content">
  <div class="main-content__icon-container">
    <a href="https://www.youtube.com/watch?v=125gEb7Mbpg"
      ><img
        src="../../../assets/spain.svg"
        alt="banderaEspañola"
        class="main-content__icon"
    /></a>
    <a href="https://www.youtube.com/watch?v=EHvDKZVPG_A"
      ><img src="../../../assets/uk.svg" alt="banderaInglesa"
    /></a>
  </div>
  <h1 class="main-content__home">Game of Thrones</h1>
  <div class="main-content__link-container">
    <a class="main-content__links" routerLink="characters">PERSONAJES</a>
    <a class="main-content__links" routerLink="houses">CASAS</a>
    <a class="main-content__links" routerLink="chronology">CRONOLOGIA</a>
  </div>
</main>
