<main class="main-content">
    <div class="main-content__icon-container">
        <img src="../../../assets/spain.svg" alt="banderaEspañola" class="main-content__icon">
        <img src="../../../assets/uk.svg" alt="banderaInglesa">
    </div>
    <h1 class="main-content__home">Game of Thrones</h1>
    <div class="main-content__link-container">
        <a class="main-content__links">PERSONAJES</a>
        <a class="main-content__links">CASAS</a>
        <a class="main-content__links">CRONOLOGIA</a>
    </div>
</main>