<main class="main-content">
  <div id="main-content">
  <div class="main-content__icon-container">
    <a href="https://www.youtube.com/watch?v=125gEb7Mbpg">
      <img
        src="../../../assets/spain.svg"
        alt="banderaEspañola"
        class="main-content__icon"
      />
    </a>
    <a href="https://www.youtube.com/watch?v=EHvDKZVPG_A"
      ><img
        src="../../../assets/uk.svg"
        alt="banderaInglesa"
        class="main-content__icon"
    /></a>
  </div>
  <h1 class="main-content__home">Game of <span class="phone"></span>Thrones</h1>
    <nav class="main-content__link-container">
      <a class="main-content__links" routerLink="../characters" routerLinkActive="footer__link--active">PERSONAJES</a>
      <a class="main-content__links" routerLink="../houses" routerLinkActive="footer__link--active">CASAS</a>
      <a class="main-content__links" routerLink="../chronology" routerLinkActive="footer__link--active">CRONOLOGIA</a>
    </nav>
  </div>
</main>


