<div style="color: white" class="container">
  <div class="row">
    <div class="col-2">
      <img
        src="{{ house[0].logoURL }}"
        alt=""
        onError="this.onerror=null;this.src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jamie-lannister-bran-1555331563.gif'"
      />
      <h1 style="color: white">{{ house[0].name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <h2>LEMA</h2>
      <p>{{ house[0].sigil }}</p>
    </div>
    <div class="col-2">
      <h2>SEDE</h2>
      <p>{{ house[0].seat }}</p>
    </div>
    <div class="col-2">
      <h2>REGION</h2>
      <p>{{ house[0].region }}</p>
    </div>
    <div class="col-2">
      <h2>ALIANZAS</h2>
      <p>{{ house[0].allegiance }}</p>
    </div>
    <div class="col-2">
      <h2>RELIGIONES</h2>
      <p>{{ house[0].religion }}</p>
    </div>
    <div class="col-2">
      <h2>FUNDACION</h2>
      <p>{{ house[0].createdAt | date: "dd/MM/yyyy" }}</p>
    </div>
  </div>
</div>
