<div class="container">
  <div class="sub__container">
    <a class="arrow" href="/houses"><img  src="../../../assets/back.svg" alt="">Volver
    </a>
  </div>
  <div class="header__icons-container">
    <div class="header__icons">
      <a href="/">
        <img src="../../../assets/group.svg" alt="Home" class="header__icon" />
      </a>
      <a href="https://www.youtube.com/watch?v=125gEb7Mbpg">
        <img
          src="../../../assets/spain.svg"
          alt="banderaEspañola"
          class="header__icon"
        />
      </a>
      <a href="https://www.youtube.com/watch?v=EHvDKZVPG_A"
        ><img
          src="../../../assets/uk.svg"
          alt="banderaInglesa"
          class="header__icon"
      /></a>
    </div>
  </div>
  <div class="row">
    <div  class= "portrait">
      <img
        src="{{ house[0].logoURL }}"
        alt=""
        onError="this.onerror=null;this.src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jamie-lannister-bran-1555331563.gif'"
      />
      <h1>{{ house[0].name }}</h1>
    </div>
  </div>
  <div class="row boxes">
    <div class="col-2">
      <h2>LEMA</h2>
      <p>{{ house[0].sigil }}</p>
    </div>
    <div class="col-2">
      <h2>SEDE</h2>
      <p>{{ house[0].seat }}</p>
    </div>
    <div class="col-2">
      <h2>REGION</h2>
      <p>{{ house[0].region }}</p>
    </div>
    <div class="col-2">
      <h2>ALIANZAS</h2>
      <p>{{ house[0].allegiance }}</p>
    </div>
    <div class="col-2">
      <h2>RELIGIONES</h2>
      <p>{{ house[0].religion }}</p>
    </div>
    <div class="col-2">
      <h2>FUNDACION</h2>
      <p>{{ house[0].createdAt | date: "dd/MM/yyyy" }}</p>
    </div>
  </div>
</div>
