<div style="color: white" class="container">
  <div>
<!--     <img src="{{ house.image }}" alt="" /> -->
    <h1 style="color: white">{{ house.name }}</h1>
  </div>
  <div class="row">
    <div>
      <h2>LEMA</h2>
      <p>{{ house.sigil }}</p>
    </div>
    <div>
      <h2>SEDE</h2>
      <p>{{ house.seat }}</p>
    </div>
    <div>
      <h2>REGION</h2>
      <p>{{ house.region }}</p>
    </div>
    <div>
      <h2>ALIANZAS</h2>
      <p>{{ house.allegiance }}</p>
    </div>
    <div>
      <h2>RELIGIONES</h2>
      <p>{{ house.religion }}</p>
    </div>
    <div>
      <h2>FUNDACION</h2>
      <p>{{ house.createdAt }}</p>
    </div>
  </div>
</div>
