
@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);

.sub__container{
    margin-top: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.form-search{
    padding-top: 20px;
    width: 70%;

}
.form-search input{
    background-color: #000000;
    outline: 0;
    border-width: 0 0 2px;
    border-color:#ffffff;
    color: #6c6c6c;
    font-size: 1.2em;
    padding-left: 25px;
}
.search{
    width:70%;
    background-image: url('/../assets/lupa.png');
    background-repeat: no-repeat;
    background-position: left;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 1s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

.header__icon{
    padding-left: 20px;
}

.row{
    margin-top: 20px;
    display: flex;
    height: 655px;
   /*  overflow: hidden; */
    
}
.gallery{
    margin-top: 10px;
  
}
figure{
    position: relative;
    margin-top: 20px;
}
figure img{
    width: 100%;
    height: 265px;
    object-fit: cover;
} 
figure h2{
    font-size: 14px;
    font-family: "Game of Thrones";
    color: white;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -8px;
    text-align: center;
    opacity: 0;
}
figure h2:hover{
    position: absolute;
    opacity: 1;
    background-color:rgba($color: #000000, $alpha: 0.6); 
    transition:ease-out 0.5s;
}

ngx-simplebar {
    width: 100%;
    height: 655px;
  }
